* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  background-color: rgb(100, 99, 99);
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  color: rgb(1, 252, 252);
  justify-content: space-between;
  padding: 1%;
}

.hero {
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url(./images/Portfolio\ background\ image.jpg);
  background-size: cover;
  background-position: center;
}
header h1 {
  background-color: rgb(1, 252, 252);
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  width: 22%;
  float: right;
  border-radius: 5px;
}
.topnavlinks {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: rgb(1, 252, 252);
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  list-style-type: none;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.bottomnavlinks {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: rgb(1, 252, 252);
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  list-style-type: none;
}

.topnavlinks a {
  color: rgb(1, 252, 252);
  font-weight: bold;
}

.smallerproject1 {
  background-size: cover;
  background-image: url(./images/green\ forest.jpg);
  border-style: solid;
  border-color: rgb(1, 252, 252);
  border-width: 5px;
  flex: 1 0 0;
  padding: 10px;
  text-align: center;
  border-style: solid;
}
.smallerproject2 {
  background-size: cover;
  background-image: url(./images/snowy\ forest.jpg);
  border-style: solid;
  border-color: rgb(1, 252, 252);
  border-width: 5px;
  flex: 1 0 0;
  padding: 10px;
  text-align: center;
  border-style: solid;
}

.smallerproject3 {
  background-size: cover;
  background-image: url(./images/snowy\ igloo.jpg);
  border-style: solid;
  border-color: rgb(1, 252, 252);
  border-width: 5px;
  flex: 1 0 0;
  padding: 10px;
  text-align: center;
  border-style: solid;
}

.smallerproject4 {
  background-size: cover;
  background-image: url(./images/sunny\ beach.jpg);
  border-style: solid;
  border-color: rgb(1, 252, 252);
  border-width: 5px;
  flex: 1 0 0;
  padding: 10px;
  text-align: center;
  border-style: solid;
}

.mainProject {
  flex-basis: auto;
  background-size: cover;
  background-image: url(./images/computer\ marketing.jpg);
  border-style: solid;
  border-color: rgb(1, 252, 252);
  border-width: 5px;
  flex: 1 0 0;
  padding: 10px;
  text-align: center;
  border-style: solid;
}

.smallerproject1:hover,
.smallerproject2:hover,
.smallerproject3:hover,
.smallerproject4:hover,
.mainProject:hover {
  box-shadow: 0 0 15px rgb(111, 111, 111);
  filter: grayscale(50%);
}
