* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  background-color: rgb(100, 99, 99);
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  color: rgb(1, 252, 252);
  justify-content: space-between;
  padding: 1%;
}

#header {
  color: black;
  background-color: rgb(1, 252, 252);
  border-radius: 5px;
}
.hero {
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url(./images/Portfolio\ background\ image.jpg);
  background-size: cover;
  background-position: center;
}
figure h1 {
  background-color: rgb(1, 252, 252);
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  width: 22%;
  float: right;
  border-radius: 5px;
}
.topnavlinks {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: rgb(1, 252, 252);
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  list-style-type: none;
}

.bottomnavlinks {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: rgb(1, 252, 252);
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  list-style-type: none;
}

.topnavlinks a {
  color: rgb(1, 252, 252);
  text-decoration: none;
  font-weight: bold;
}

.borderleft {
  border-left: 10px solid gray;
  margin-left: 300px;
}
.row1,
.row2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 500px;
  width: 60%;
}

.toprow {
  display: flex;
  width: 60%;
  margin: 10px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 500px;
}

.smallerproject1 {
  flex-basis: auto;
  margin: 10px;
  width: 34%;
  height: 150px;
  background-size: cover;
  background-image: url(./images/green\ forest.jpg);
  border-style: solid;
  border-color: rgb(1, 252, 252);
  border-width: 5px;
  justify-content: center;
}
.smallerproject2 {
  flex-basis: auto;
  margin: 10px;
  width: 34%;
  height: 150px;
  background-size: cover;
  background-image: url(./images/snowy\ forest.jpg);
  border-style: solid;
  border-color: rgb(1, 252, 252);
  border-width: 5px;
  justify-content: center;
}

.smallerproject3 {
  flex-basis: auto;
  margin: 10px;
  width: 34%;
  height: 150px;
  background-size: cover;
  background-image: url(./images/snowy\ igloo.jpg);
  border-style: solid;
  border-color: rgb(1, 252, 252);
  border-width: 5px;
  justify-content: center;
}

.smallerproject4 {
  flex-basis: auto;
  margin: 10px;
  width: 34%;
  height: 150px;
  background-size: cover;
  background-image: url(./images/sunny\ beach.jpg);
  border-style: solid;
  border-color: rgb(1, 252, 252);
  border-width: 5px;
  justify-content: center;
}

.mainProject {
  flex-basis: auto;
  margin: 10px;
  width: 70%;
  height: 250px;
  background-size: cover;
  background-image: url(./images/computer\ marketing.jpg);
  border-style: solid;
  border-color: rgb(1, 252, 252);
  border-width: 5px;
  justify-content: flex-end;
}

.smallerproject1:hover,
.smallerproject2:hover,
.smallerproject3:hover,
.smallerproject4:hover,
.mainProject:hover {
  box-shadow: 0 0 15px rgb(111, 111, 111);
  filter: grayscale(50%);
}

.mainProject h2,
h4,
.row1 h2,
h4,
.row2 h2,
h4 {
  background-color: rgb(1, 252, 252);
}
