* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  background-color: rgb(45, 45, 49);
  height: 80px;
  display: flex;
  color: rgb(1, 252, 252);
  justify-content: space-between;
  padding: 1%;
}

#header {
  color: black;
  background-color: rgb(1, 252, 252);
  border-radius: 5px;
}
.hero {
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url(./images/Portfolio\ background\ image.jpg);
  background-size: cover;
  background-position: center;
}
figure h1 {
  background-color: rgb(1, 252, 252);
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  width: 22%;
  float: right;
  border-radius: 5px;
}
.topnavlinks {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: rgb(1, 252, 252);
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  list-style-type: none;
}

.topnavlinks a {
  color: rgb(1, 252, 252);
  text-decoration: none;
  font-weight: bold;
}
